# App
APP_PORT=3003

# MongoDB
MONGODB_URL=mongodb://admin:admin@localhost:27017/smartranking?authSource=admin

# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=admin
RABBITMQ_VHOST=smartranking

# AWS SES (optional)
# SES_SMTP_USER=
# SES_SMTP_PASS=
